*
{
  padding: 0;
  margin: 0;
}
body
{
  height: 100vh;
  width: 100%;
}
.output 
{
  height: 50px;
  grid-column: 1/-1;
  text-align: right;
  padding: .75rem;
}
.calculator input
{
  font-size: 1.5em;
  color: rgb(237, 105, 10);
  border-radius: 10px;
  outline: none;
  border: 3px solid rgb(219, 14, 219);
}
.calculator > input:hover
{
  outline: none;
}
.calculator > button:focus
{
  border: 2px solid darkorange;
  outline: none;
}
.calculator > button:hover
{
  background-color: aquamarine;
  border-radius: 5px;
  outline: none;
}
.calculator > button 
{
  background-color: rgb(240, 237, 233);
  border-radius: 10px;
  outline: none;
  border: 3px solid darkorange;
}
.calculator 
{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem,auto) repeat(5,5rem);
  gap: 10px;
  text-align: center;
  background-color: aqua;
  width: 30%;
  padding: 30px;
  border-radius: 20px;
}
#root 
{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.span 
{
  grid-column: span 2;
}
@media(max-width:800px)
{
body 
{
  font-size: 1.1em;
}
.calculator
{
  width: 70%;
  grid-template-columns: repeat(4,4rem);
  grid-template-rows: minmax(4rem,auto) repeat(5,4rem);
}
.calculator button 
{
  height: auto;
  padding: 10px;
  text-align: center;
}
.output
{
  height: 30px;
}
}